*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Montserrat';
}

a{
    text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    margin: 0;
}
input[type =email], input[type =text]{
    border: none;
    background-color: transparent;
    outline: 0;
}

.btn{
    border: none;
    background-color: transparent;
    padding: 25px 46px 25px 46px;
    border-radius: 38px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
}
section{
    margin-bottom: 160px;
}